.bg {
    background-color: #4A628A; 
    color: #0c3a3e;
    transition: background-color 0.3s ease;
    max-height: 70px; 

}


.navbar-shrink {
    background-color: #16423C ;
    padding: 0.5rem 1rem;
}

.navbar-brand img {
  height: 55px; 
  width: auto; 
}

.home-chef{
    display: inline-block; 
    padding-top: 13px;
}

.location-link {
    color: #fff !important;
  }
  