
  .spacing-reducer {
    margin-top: -20px;
  }
  
  @media (max-width: 768px) {
    .spacing-reducer {
      margin-top: -10px; 
    }
  }
  
  .popular-chefs .card {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .how-it-works, .popular-chefs {
    padding: 20px; 
  }
  