
.leaflet-control-geocoder-form input {
    background-color: white; 
    color: #333;
    border-radius: 4px; 
    padding: 5px; 
    width: 200px; 
    font-size: 14px; 
}

.leaflet-control-geocoder-alternatives {
    background-color: white;
        color: #333; 
    border: 1px solid #fcf5f5; 
    max-height: 150px; 
    overflow-y: auto; 
    border-radius: 4px; 
    margin: 5px;
    padding: 5px; 
    font-size: 10px; 
    height: 40%;
    z-index: 1000; 
}


.leaflet-control-geocoder-alternatives a {
    color: #4A628A; 
}

.leaflet-control-geocoder-alternatives a:hover {
    background-color: #DFF2EB; 
}
