.admin-home {
    text-align: center;
    padding: 30px;
    background-color: #DFF2EB;
    
  }
  
  .welcome {
    color: #333;
    margin-top: 5%;
  }
  
  .welcome-message {
    color: #666;
    margin-bottom: 20px;
    margin-top: 1%;
  }
  
  .admin-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    max-width: 500px; 
    margin: 0 auto; 
    margin-top: 5%
  }
  
  .admin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 130px;
  }
  
  .admin-button i {
    font-size: 36px;
    margin-bottom: 8px;
  }
  
  .admin-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Unique background colors for each button */
  .dashboard {
    background-color: #4A90E2;
  }
  
  .orders {
    background-color: #F5A623;
  }
  
  .items {
    background-color: #7ED321;
  }
  
  .manage-account {
    background-color: #D0021B;
  }
  .signout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4757;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .signout-button i {
    font-size: 18px;
  }
  
  .signout-button:hover {
    background-color: #e84118;
  }
  